@media (min-width: 0) and (max-width: 575.98px) { 
    nav{
        padding: 30px!important;
    }

    h1{
        font-size: 40px;
        font-weight: 500;
    }

    .submit-btn{

    	    right: 95px;
    		top: 172px;
		}
.email-form {
    		padding: 7px 60px;
}

}

@media (min-width: 576px) and (max-width: 767.98px) {



   .submit-btn{

    	    right: 122px;
    		top: 173px;
		}
	.email-form {
    		padding: 7px 50px;
}



	}


	@media (min-width: 768px) and (max-width: 991.98px) {



   .submit-btn{

    	    right: 30px;
    		top: 190px;
		}
	.email-form {
    		padding: 7px 50px;
}



	}



	@media (min-width: 768px) and (max-width: 991.98px) {



   .submit-btn{

    	    right: 30px;
    		top: 190px;
		}
	.email-form {
    		padding: 7px 50px;
}



	}